In [1]:
import pandas as pd
from pprint import pprint
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("metacritic_movies.csv")
df

,movie_title,release_date,genre,meta_mixed,meta_negative,meta_positive,metascore,user_mixed,user_negative,user_positive,userscore
0,Anatomy of a Murder,1-Jul-59,"Drama,Mystery,Thriller,Crime",0,0,15,95,0,0,3,tbd
1,Bringing Up Baby,18-Feb-38,"Comedy,Romance,Family",0,1,16,91,1,0,2,tbd
2,After Life,12-May-99,"Drama,Fantasy",0,0,19,91,0,2,1,tbd
3,Gavagai,3-Aug-18,Drama,1,0,6,91,0,1,2,tbd
4,The Hustler,25-Sep-61,"Drama,Sport",1,0,17,90,0,0,3,tbd
...,...,...,...,...,...,...,...,...,...,...,...
9116,Wild Reeds,10-May-95,Drama,2,0,11,80,1,0,3,8
9117,No Home Movie,1-Apr-16,Documentary,3,0,7,78,1,0,3,7.8
9118,Solas,8-Sep-00,Drama,2,0,14,75,1,0,3,7.5
9119,J.T. Leroy,26-Apr-19,"Biography,Drama",13,0,10,55,2,1,1,5.5
9120,Donnybrook,15-Feb-19,Drama,3,4,8,53,1,1,2,5.3

In [3]:
dp = pd.read_csv("metacritic_reviews.csv")
dp

,critic_name,media,movie_title,review_date,individual_meta_score,text
0,M. E. Russell,Portland Oregonian,Hustle & Flow,NaN,100,"The writing, acting and filmmaking make Hustle..."
1,Owen Gleiberman,Entertainment Weekly,Hustle & Flow,NaN,91,The home-studio recording sequences in Hustle ...
2,Ann Hornaday,Washington Post,Hustle & Flow,NaN,90,"The performances are accomplished, but the rea..."
3,Stephanie Zacharek,Salon,Hustle & Flow,NaN,90,In a world of movies that try far too hard to ...
4,Jami Bernard,New York Daily News,Hustle & Flow,NaN,88,The feel-good movie of the summer. And the son...
...,...,...,...,...,...,...
246950,John Patterson,L.A. Weekly,The Quiet American,NaN,70,"Noyce has made a good-looking, intelligent sta..."
246951,Rick Groen,The Globe and Mail (Toronto),The Quiet American,NaN,63,The result is a rarity on the modern screen --...
246952,Jonathan Foreman,New York Post,The Quiet American,NaN,63,"It's a shame that, on top of everything else, ..."
246953,Jami Bernard,New York Daily News,The Quiet American,NaN,50,The movie adds nothing to the political dialog...
246954,Stanley Kauffmann,The New Republic,The Quiet American,NaN,30,As is frequently the case when there is public...

In [4]:
dt = dp.merge(df, how="inner")
drop_duplicate = dt.filter(items=["movie_title", "metascore", "release_date"]).drop_duplicates()

In [5]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 213575 entries, 0 to 213574
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   critic_name            186900 non-null  object
 1   media                  200659 non-null  object
 2   movie_title            213575 non-null  object
 3   review_date            95818 non-null   object
 4   individual_meta_score  213575 non-null  int64
 5   text                   203768 non-null  object
 6   release_date           213575 non-null  object
 7   genre                  213575 non-null  object
 8   meta_mixed             213575 non-null  int64
 9   meta_negative          213575 non-null  int64
 10  meta_positive          213575 non-null  int64
 11  metascore              213575 non-null  int64
 12  user_mixed             213575 non-null  object
 13  user_negative          213575 non-null  object
 14  user_positive          213575 non-null  object
 15  userscore              213575 non-null  object
dtypes: int64(5), object(11)
memory usage: 27.7+ MB

In [6]:
drop_duplicate.sort_values(by=['release_date'],ascending=False)

                  movie_title  metascore release_date
38041     The Next Karate Kid         36     9-Sep-94
143422       Running on Empty         67     9-Sep-88
52167   When the Bough Breaks         28     9-Sep-16
15124             London Road         71     9-Sep-16
30590           The Wild Life         36     9-Sep-16
...                       ...        ...          ...
175212             Look at Me         79     1-Apr-05
3460                 Sin City         74     1-Apr-05
32327               Girl Play         37     1-Apr-05
114434          Dust to Glory         61     1-Apr-05
12855                 Control         72     1-Apr-05

[8915 rows x 3 columns]

In [7]:
oscar_df = pd.read_csv("Data/the_oscar_award.csv")
oscar_df

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10390,2019,2020,92,WRITING (Original Screenplay),"Screenplay by Bong Joon Ho, Han Jin Won; Story...",Parasite,True
10391,2019,2020,92,JEAN HERSHOLT HUMANITARIAN AWARD,Geena Davis,NaN,True
10392,2019,2020,92,HONORARY AWARD,David Lynch,NaN,True
10393,2019,2020,92,HONORARY AWARD,Wes Studi,NaN,True
10394,2019,2020,92,HONORARY AWARD,Lina WertmÃ¼ller,NaN,True

In [8]:
pr = oscar_df.loc[(oscar_df["year_film"] >= 2001)]
pr

,year_film,year_ceremony,ceremony,category,name,film,winner
8116,2001,2002,74,ACTOR IN A LEADING ROLE,Russell Crowe,A Beautiful Mind,False
8117,2001,2002,74,ACTOR IN A LEADING ROLE,Sean Penn,I Am Sam,False
8118,2001,2002,74,ACTOR IN A LEADING ROLE,Will Smith,Ali,False
8119,2001,2002,74,ACTOR IN A LEADING ROLE,Denzel Washington,Training Day,True
8120,2001,2002,74,ACTOR IN A LEADING ROLE,Tom Wilkinson,In the Bedroom,False
...,...,...,...,...,...,...,...
10390,2019,2020,92,WRITING (Original Screenplay),"Screenplay by Bong Joon Ho, Han Jin Won; Story...",Parasite,True
10391,2019,2020,92,JEAN HERSHOLT HUMANITARIAN AWARD,Geena Davis,NaN,True
10392,2019,2020,92,HONORARY AWARD,David Lynch,NaN,True
10393,2019,2020,92,HONORARY AWARD,Wes Studi,NaN,True
10394,2019,2020,92,HONORARY AWARD,Lina WertmÃ¼ller,NaN,True

In [9]:
pr_filter = pr.filter(items=['year_film', 'category', 'film', 'winner']).dropna()
pr_filter.loc[(pr_filter["film"]=="Gosford Park")]

,year_film,category,film,winner
8132,2001,ACTRESS IN A SUPPORTING ROLE,Gosford Park,False
8133,2001,ACTRESS IN A SUPPORTING ROLE,Gosford Park,False
8140,2001,ART DIRECTION,Gosford Park,False
8150,2001,COSTUME DESIGN,Gosford Park,False
8156,2001,DIRECTING,Gosford Park,False
8191,2001,BEST PICTURE,Gosford Park,False
8221,2001,WRITING (Screenplay Written Directly for the S...,Gosford Park,True

In [10]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy import extract

In [11]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')

In [12]:
engine.execute('select * from oscar_filter;').all()

[(8190, 2001, 'BEST PICTURE', 'A Beautiful Mind', True),
 (8191, 2001, 'BEST PICTURE', 'Gosford Park', False),
 (8192, 2001, 'BEST PICTURE', 'In the Bedroom', False),
 (8193, 2001, 'BEST PICTURE', 'The Lord of the Rings: The Fellowship of the Ring', False),
 (8194, 2001, 'BEST PICTURE', 'Moulin Rouge', False),
 (8304, 2002, 'BEST PICTURE', 'Chicago', True),
 (8305, 2002, 'BEST PICTURE', 'Gangs of New York', False),
 (8306, 2002, 'BEST PICTURE', 'The Hours', False),
 (8307, 2002, 'BEST PICTURE', 'The Lord of the Rings: The Two Towers', False),
 (8308, 2002, 'BEST PICTURE', 'The Pianist', False),
 (8415, 2003, 'BEST PICTURE', 'The Lord of the Rings: The Return of the King', True),
 (8416, 2003, 'BEST PICTURE', 'Lost in Translation', False),
 (8417, 2003, 'BEST PICTURE', 'Master and Commander: The Far Side of the World', False),
 (8418, 2003, 'BEST PICTURE', 'Mystic River', False),
 (8419, 2003, 'BEST PICTURE', 'Seabiscuit', False),
 (8528, 2004, 'BEST PICTURE', 'The Aviator', False),
 (8529, 2004, 'BEST PICTURE', 'Finding Neverland', False),
 (8530, 2004, 'BEST PICTURE', 'Million Dollar Baby', True),
 (8531, 2004, 'BEST PICTURE', 'Ray', False),
 (8532, 2004, 'BEST PICTURE', 'Sideways', False),
 (8639, 2005, 'BEST PICTURE', 'Brokeback Mountain', False),
 (8640, 2005, 'BEST PICTURE', 'Capote', False),
 (8641, 2005, 'BEST PICTURE', 'Crash', True),
 (8642, 2005, 'BEST PICTURE', 'Good Night, and Good Luck.', False),
 (8643, 2005, 'BEST PICTURE', 'Munich', False),
 (8751, 2006, 'BEST PICTURE', 'Babel', False),
 (8752, 2006, 'BEST PICTURE', 'The Departed', True),
 (8753, 2006, 'BEST PICTURE', 'Letters from Iwo Jima', False),
 (8754, 2006, 'BEST PICTURE', 'Little Miss Sunshine', False),
 (8755, 2006, 'BEST PICTURE', 'The Queen', False),
 (8866, 2007, 'BEST PICTURE', 'Atonement', False),
 (8867, 2007, 'BEST PICTURE', 'Juno', False),
 (8868, 2007, 'BEST PICTURE', 'Michael Clayton', False),
 (8869, 2007, 'BEST PICTURE', 'No Country for Old Men', True),
 (8870, 2007, 'BEST PICTURE', 'There Will Be Blood', False),
 (8978, 2008, 'BEST PICTURE', 'The Curious Case of Benjamin Button', False),
 (8979, 2008, 'BEST PICTURE', 'Frost/Nixon', False),
 (8980, 2008, 'BEST PICTURE', 'Milk', False),
 (8981, 2008, 'BEST PICTURE', 'The Reader', False),
 (8982, 2008, 'BEST PICTURE', 'Slumdog Millionaire', True),
 (9095, 2009, 'BEST PICTURE', 'Avatar', False),
 (9096, 2009, 'BEST PICTURE', 'The Blind Side', False),
 (9097, 2009, 'BEST PICTURE', 'District 9', False),
 (9098, 2009, 'BEST PICTURE', 'An Education', False),
 (9099, 2009, 'BEST PICTURE', 'The Hurt Locker', True),
 (9100, 2009, 'BEST PICTURE', 'Inglourious Basterds', False),
 (9101, 2009, 'BEST PICTURE', "Precious: Based on the Novel 'Push' by Sapphire", False),
 (9102, 2009, 'BEST PICTURE', 'A Serious Man', False),
 (9103, 2009, 'BEST PICTURE', 'Up', False),
 (9104, 2009, 'BEST PICTURE', 'Up in the Air', False),
 (9217, 2010, 'BEST PICTURE', 'Black Swan', False),
 (9218, 2010, 'BEST PICTURE', 'The Fighter', False),
 (9219, 2010, 'BEST PICTURE', 'Inception', False),
 (9220, 2010, 'BEST PICTURE', 'The Kids Are All Right', False),
 (9221, 2010, 'BEST PICTURE', "The King's Speech", True),
 (9222, 2010, 'BEST PICTURE', '127 Hours', False),
 (9223, 2010, 'BEST PICTURE', 'The Social Network', False),
 (9224, 2010, 'BEST PICTURE', 'Toy Story 3', False),
 (9225, 2010, 'BEST PICTURE', 'True Grit', False),
 (9226, 2010, 'BEST PICTURE', "Winter's Bone", False),
 (9341, 2011, 'BEST PICTURE', 'The Artist', True),
 (9342, 2011, 'BEST PICTURE', 'The Descendants', False),
 (9343, 2011, 'BEST PICTURE', 'Extremely Loud & Incredibly Close', False),
 (9344, 2011, 'BEST PICTURE', 'The Help', False),
 (9345, 2011, 'BEST PICTURE', 'Hugo', False),
 (9346, 2011, 'BEST PICTURE', 'Midnight in Paris', False),
 (9347, 2011, 'BEST PICTURE', 'Moneyball', False),
 (9348, 2011, 'BEST PICTURE', 'The Tree of Life', False),
 (9349, 2011, 'BEST PICTURE', 'War Horse', False),
 (9461, 2012, 'BEST PICTURE', 'Amour', False),
 (9462, 2012, 'BEST PICTURE', 'Argo', True),
 (9463, 2012, 'BEST PICTURE', 'Beasts of the Southern Wild', False),
 (9464, 2012, 'BEST PICTURE', 'Django Unchained', False),
 (9465, 2012, 'BEST PICTURE', 'Les MisÃ©rables', False),
 (9466, 2012, 'BEST PICTURE', 'Life of Pi', False),
 (9467, 2012, 'BEST PICTURE', 'Lincoln', False),
 (9468, 2012, 'BEST PICTURE', 'Silver Linings Playbook', False),
 (9469, 2012, 'BEST PICTURE', 'Zero Dark Thirty', False),
 (9587, 2013, 'BEST PICTURE', 'American Hustle', False),
 (9588, 2013, 'BEST PICTURE', 'Captain Phillips', False),
 (9589, 2013, 'BEST PICTURE', 'Dallas Buyers Club', False),
 (9590, 2013, 'BEST PICTURE', 'Gravity', False),
 (9591, 2013, 'BEST PICTURE', 'Her', False),
 (9592, 2013, 'BEST PICTURE', 'Nebraska', False),
 (9593, 2013, 'BEST PICTURE', 'Philomena', False),
 (9594, 2013, 'BEST PICTURE', '12 Years a Slave', True),
 (9595, 2013, 'BEST PICTURE', 'The Wolf of Wall Street', False),
 (9713, 2014, 'BEST PICTURE', 'American Sniper', False),
 (9714, 2014, 'BEST PICTURE', 'Birdman or (The Unexpected Virtue of Ignorance)', True),
 (9715, 2014, 'BEST PICTURE', 'Boyhood', False),
 (9716, 2014, 'BEST PICTURE', 'The Grand Budapest Hotel', False),
 (9717, 2014, 'BEST PICTURE', 'The Imitation Game', False),
 (9718, 2014, 'BEST PICTURE', 'Selma', False),
 (9719, 2014, 'BEST PICTURE', 'The Theory of Everything', False),
 (9720, 2014, 'BEST PICTURE', 'Whiplash', False),
 (9838, 2015, 'BEST PICTURE', 'The Big Short', False),
 (9839, 2015, 'BEST PICTURE', 'Bridge of Spies', False),
 (9840, 2015, 'BEST PICTURE', 'Brooklyn', False),
 (9841, 2015, 'BEST PICTURE', 'Mad Max: Fury Road', False),
 (9842, 2015, 'BEST PICTURE', 'The Martian', False),
 (9843, 2015, 'BEST PICTURE', 'The Revenant', False),
 (9844, 2015, 'BEST PICTURE', 'Room', False),
 (9845, 2015, 'BEST PICTURE', 'Spotlight', True),
 (9962, 2016, 'BEST PICTURE', 'Arrival', False),
 (9963, 2016, 'BEST PICTURE', 'Fences', False),
 (9964, 2016, 'BEST PICTURE', 'Hacksaw Ridge', False),
 (9965, 2016, 'BEST PICTURE', 'Hell or High Water', False),
 (9966, 2016, 'BEST PICTURE', 'Hidden Figures', False),
 (9967, 2016, 'BEST PICTURE', 'La La Land', False),
 (9968, 2016, 'BEST PICTURE', 'Lion', False),
 (9969, 2016, 'BEST PICTURE', 'Manchester by the Sea', False),
 (9970, 2016, 'BEST PICTURE', 'Moonlight', True),
 (10088, 2017, 'BEST PICTURE', 'Call Me by Your Name', False),
 (10089, 2017, 'BEST PICTURE', 'Darkest Hour', False),
 (10090, 2017, 'BEST PICTURE', 'Dunkirk', False),
 (10091, 2017, 'BEST PICTURE', 'Get Out', False),
 (10092, 2017, 'BEST PICTURE', 'Lady Bird', False),
 (10093, 2017, 'BEST PICTURE', 'Phantom Thread', False),
 (10094, 2017, 'BEST PICTURE', 'The Post', False),
 (10095, 2017, 'BEST PICTURE', 'The Shape of Water', True),
 (10096, 2017, 'BEST PICTURE', 'Three Billboards outside Ebbing, Missouri', False),
 (10215, 2018, 'BEST PICTURE', 'Black Panther', False),
 (10216, 2018, 'BEST PICTURE', 'BlacKkKlansman', False),
 (10217, 2018, 'BEST PICTURE', 'Bohemian Rhapsody', False),
 (10218, 2018, 'BEST PICTURE', 'The Favourite', False),
 (10219, 2018, 'BEST PICTURE', 'Green Book', True),
 (10220, 2018, 'BEST PICTURE', 'Roma', False),
 (10221, 2018, 'BEST PICTURE', 'A Star Is Born', False),
 (10222, 2018, 'BEST PICTURE', 'Vice', False),
 (10342, 2019, 'BEST PICTURE', 'Ford v Ferrari', False),
 (10343, 2019, 'BEST PICTURE', 'The Irishman', False),
 (10344, 2019, 'BEST PICTURE', 'Jojo Rabbit', False),
 (10345, 2019, 'BEST PICTURE', 'Joker', False),
 (10346, 2019, 'BEST PICTURE', 'Little Women', False),
 (10347, 2019, 'BEST PICTURE', 'Marriage Story', False),
 (10348, 2019, 'BEST PICTURE', '1917', False),
 (10349, 2019, 'BEST PICTURE', 'Once upon a Time...in Hollywood', False),
 (10350, 2019, 'BEST PICTURE', 'Parasite', True)]

In [13]:
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [14]:
Base.classes.keys()

['departments', 'titles', 'employees', 'omdb_api', 'oscar_filter']

In [15]:
inspector = inspect(engine)
columns = inspector.get_columns('oscar_filter')
for c in columns:
    print(c['name'], c['type'])

numbest INTEGER
year_film INTEGER
category VARCHAR
film VARCHAR
winner BOOLEAN

In [16]:
oscar = Base.classes.oscar_filter
omdb = Base.classes.omdb_api

In [17]:
session = Session(engine)
dp = session.query(oscar.film, omdb.boxoffice, omdb.imdbrating, omdb.metascore, oscar.year_film, oscar.category, oscar.winner).filter(oscar.film == omdb.title).all()
dp

[('A Beautiful Mind', '$170,742,341', Decimal('8.2'), 72, 2001, 'BEST PICTURE', True),
 ('Gosford Park', '$41,308,615', Decimal('7.2'), 90, 2001, 'BEST PICTURE', False),
 ('In the Bedroom', '$35,930,604', Decimal('7.4'), 86, 2001, 'BEST PICTURE', False),
 ('The Lord of the Rings: The Fellowship of the Ring', '$316,115,420', Decimal('8.8'), 92, 2001, 'BEST PICTURE', False),
 ('Chicago', '$170,687,518', Decimal('7.2'), 81, 2002, 'BEST PICTURE', True),
 ('Gangs of New York', '$77,812,000', Decimal('7.5'), 72, 2002, 'BEST PICTURE', False),
 ('The Hours', '$41,675,994', Decimal('7.5'), 80, 2002, 'BEST PICTURE', False),
 ('The Lord of the Rings: The Two Towers', '$342,952,511', Decimal('8.7'), 87, 2002, 'BEST PICTURE', False),
 ('The Pianist', '$32,572,577', Decimal('8.6'), 85, 2002, 'BEST PICTURE', False),
 ('The Lord of the Rings: The Return of the King', '$378,251,207', Decimal('9.0'), 94, 2003, 'BEST PICTURE', True),
 ('Lost in Translation', '$44,585,453', Decimal('7.7'), 89, 2003, 'BEST PICTURE', False),
 ('Master and Commander: The Far Side of the World', '$93,927,920', Decimal('7.4'), 81, 2003, 'BEST PICTURE', False),
 ('Mystic River', '$90,135,191', Decimal('7.9'), 84, 2003, 'BEST PICTURE', False),
 ('Seabiscuit', '$120,277,854', Decimal('7.3'), 72, 2003, 'BEST PICTURE', False),
 ('The Aviator', '$102,610,330', Decimal('7.5'), 77, 2004, 'BEST PICTURE', False),
 ('Finding Neverland', '$51,680,613', Decimal('7.7'), 67, 2004, 'BEST PICTURE', False),
 ('Million Dollar Baby', '$100,492,203', Decimal('8.1'), 86, 2004, 'BEST PICTURE', True),
 ('Ray', '$75,331,600', Decimal('7.7'), 73, 2004, 'BEST PICTURE', False),
 ('Sideways', '$71,503,593', Decimal('7.5'), 94, 2004, 'BEST PICTURE', False),
 ('Brokeback Mountain', '$83,043,761', Decimal('7.7'), 87, 2005, 'BEST PICTURE', False),
 ('Capote', '$28,750,530', Decimal('7.4'), 88, 2005, 'BEST PICTURE', False),
 ('Crash', '$54,580,300', Decimal('7.8'), 66, 2005, 'BEST PICTURE', True),
 ('Good Night, and Good Luck.', '$31,558,003', Decimal('7.4'), 80, 2005, 'BEST PICTURE', False),
 ('Munich', '$47,403,685', Decimal('7.5'), 74, 2005, 'BEST PICTURE', False),
 ('Babel', '$34,302,837', Decimal('7.5'), 69, 2006, 'BEST PICTURE', False),
 ('The Departed', '$132,399,394', Decimal('8.5'), 85, 2006, 'BEST PICTURE', True),
 ('Letters from Iwo Jima', '$13,756,082', Decimal('7.9'), 89, 2006, 'BEST PICTURE', False),
 ('Little Miss Sunshine', '$59,891,098', Decimal('7.8'), 80, 2006, 'BEST PICTURE', False),
 ('The Queen', '$56,441,711', Decimal('7.3'), 91, 2006, 'BEST PICTURE', False),
 ('Atonement', '$50,927,067', Decimal('7.8'), 85, 2007, 'BEST PICTURE', False),
 ('Juno', '$143,495,265', Decimal('7.4'), 81, 2007, 'BEST PICTURE', False),
 ('Michael Clayton', '$49,033,882', Decimal('7.2'), 82, 2007, 'BEST PICTURE', False),
 ('No Country for Old Men', '$74,283,625', Decimal('8.2'), 92, 2007, 'BEST PICTURE', True),
 ('There Will Be Blood', '$40,222,514', Decimal('8.2'), 93, 2007, 'BEST PICTURE', False),
 ('The Curious Case of Benjamin Button', '$127,509,326', Decimal('7.8'), 70, 2008, 'BEST PICTURE', False),
 ('Frost/Nixon', '$18,622,031', Decimal('7.7'), 80, 2008, 'BEST PICTURE', False),
 ('Milk', '$31,841,299', Decimal('7.6'), 83, 2008, 'BEST PICTURE', False),
 ('The Reader', '$34,194,407', Decimal('7.6'), 58, 2008, 'BEST PICTURE', False),
 ('Slumdog Millionaire', '$141,319,928', Decimal('8.0'), 84, 2008, 'BEST PICTURE', True),
 ('Avatar', '$760,507,625', Decimal('7.9'), 83, 2009, 'BEST PICTURE', False),
 ('The Blind Side', '$255,982,860', Decimal('7.6'), 53, 2009, 'BEST PICTURE', False),
 ('District 9', '$115,646,235', Decimal('7.9'), 81, 2009, 'BEST PICTURE', False),
 ('An Education', '$12,574,914', Decimal('7.3'), 85, 2009, 'BEST PICTURE', False),
 ('The Hurt Locker', '$17,017,811', Decimal('7.6'), 95, 2009, 'BEST PICTURE', True),
 ('Inglourious Basterds', '$120,540,719', Decimal('8.3'), 69, 2009, 'BEST PICTURE', False),
 ('A Serious Man', '$9,228,768', Decimal('7.0'), 84, 2009, 'BEST PICTURE', False),
 ('Up', '$293,004,164', Decimal('8.2'), 88, 2009, 'BEST PICTURE', False),
 ('Up in the Air', '$83,823,381', Decimal('7.4'), 83, 2009, 'BEST PICTURE', False),
 ('Black Swan', '$106,954,678', Decimal('8.0'), 79, 2010, 'BEST PICTURE', False),
 ('The Fighter', '$93,617,009', Decimal('7.8'), 79, 2010, 'BEST PICTURE', False),
 ('Inception', '$292,587,330', Decimal('8.8'), 74, 2010, 'BEST PICTURE', False),
 ('The Kids Are All Right', '$20,811,365', Decimal('7.1'), 86, 2010, 'BEST PICTURE', False),
 ("The King's Speech", '$138,797,449', Decimal('8.0'), 88, 2010, 'BEST PICTURE', True),
 ('127 Hours', '$18,335,230', Decimal('7.6'), 82, 2010, 'BEST PICTURE', False),
 ('The Social Network', '$96,962,694', Decimal('7.8'), 95, 2010, 'BEST PICTURE', False),
 ('Toy Story 3', '$415,004,880', Decimal('8.3'), 92, 2010, 'BEST PICTURE', False),
 ('True Grit', '$171,243,005', Decimal('7.6'), 80, 2010, 'BEST PICTURE', False),
 ("Winter's Bone", '$6,531,503', Decimal('7.2'), 90, 2010, 'BEST PICTURE', False),
 ('The Artist', '$44,671,682', Decimal('7.9'), 89, 2011, 'BEST PICTURE', True),
 ('The Descendants', '$82,584,160', Decimal('7.3'), 84, 2011, 'BEST PICTURE', False),
 ('Extremely Loud & Incredibly Close', '$31,847,881', Decimal('6.9'), 46, 2011, 'BEST PICTURE', False),
 ('The Help', '$169,708,112', Decimal('8.1'), 62, 2011, 'BEST PICTURE', False),
 ('Hugo', '$73,864,507', Decimal('7.5'), 83, 2011, 'BEST PICTURE', False),
 ('Midnight in Paris', '$56,817,045', Decimal('7.7'), 81, 2011, 'BEST PICTURE', False),
 ('Moneyball', '$75,605,492', Decimal('7.6'), 87, 2011, 'BEST PICTURE', False),
 ('The Tree of Life', '$13,303,319', Decimal('6.8'), 85, 2011, 'BEST PICTURE', False),
 ('War Horse', '$79,884,879', Decimal('7.2'), 72, 2011, 'BEST PICTURE', False),
 ('Amour', '$6,739,492', Decimal('7.9'), 94, 2012, 'BEST PICTURE', False),
 ('Argo', '$136,025,503', Decimal('7.7'), 86, 2012, 'BEST PICTURE', True),
 ('Beasts of the Southern Wild', '$12,795,746', Decimal('7.3'), 86, 2012, 'BEST PICTURE', False),
 ('Django Unchained', '$162,805,434', Decimal('8.4'), 81, 2012, 'BEST PICTURE', False),
 ('Les MisÃ©rables', '$148,809,770', Decimal('7.6'), 63, 2012, 'BEST PICTURE', False),
 ('Life of Pi', '$124,987,023', Decimal('7.9'), 79, 2012, 'BEST PICTURE', False),
 ('Lincoln', '$182,207,973', Decimal('7.3'), 86, 2012, 'BEST PICTURE', False),
 ('Silver Linings Playbook', '$132,092,958', Decimal('7.7'), 81, 2012, 'BEST PICTURE', False),
 ('Zero Dark Thirty', '$95,720,716', Decimal('7.4'), 95, 2012, 'BEST PICTURE', False),
 ('American Hustle', '$150,117,807', Decimal('7.2'), 90, 2013, 'BEST PICTURE', False),
 ('Captain Phillips', '$107,100,855', Decimal('7.8'), 82, 2013, 'BEST PICTURE', False),
 ('Dallas Buyers Club', '$27,298,285', Decimal('8.0'), 79, 2013, 'BEST PICTURE', False),
 ('Gravity', '$274,092,705', Decimal('7.7'), 96, 2013, 'BEST PICTURE', False),
 ('Her', '$25,568,251', Decimal('8.0'), 91, 2013, 'BEST PICTURE', False),
 ('Nebraska', '$17,654,912', Decimal('7.7'), 87, 2013, 'BEST PICTURE', False),
 ('Philomena', '$37,709,979', Decimal('7.6'), 77, 2013, 'BEST PICTURE', False),
 ('12 Years a Slave', '$56,671,993', Decimal('8.1'), 96, 2013, 'BEST PICTURE', True),
 ('The Wolf of Wall Street', '$116,900,694', Decimal('8.2'), 75, 2013, 'BEST PICTURE', False),
 ('American Sniper', '$350,159,020', Decimal('7.3'), 72, 2014, 'BEST PICTURE', False),
 ('Birdman or (The Unexpected Virtue of Ignorance)', '$42,340,598', Decimal('7.7'), 87, 2014, 'BEST PICTURE', True),
 ('Boyhood', '$25,352,281', Decimal('7.9'), 100, 2014, 'BEST PICTURE', False),
 ('The Grand Budapest Hotel', '$59,301,324', Decimal('8.1'), 88, 2014, 'BEST PICTURE', False),
 ('The Imitation Game', '$91,125,683', Decimal('8.0'), 71, 2014, 'BEST PICTURE', False),
 ('Selma', '$52,076,908', Decimal('7.5'), 80, 2014, 'BEST PICTURE', False),
 ('The Theory of Everything', '$35,893,537', Decimal('7.7'), 71, 2014, 'BEST PICTURE', False),
 ('Whiplash', '$13,092,000', Decimal('8.5'), 88, 2014, 'BEST PICTURE', False),
 ('The Big Short', '$70,259,870', Decimal('7.8'), 81, 2015, 'BEST PICTURE', False),
 ('Bridge of Spies', '$72,313,754', Decimal('7.6'), 81, 2015, 'BEST PICTURE', False),
 ('Brooklyn', '$38,322,743', Decimal('7.5'), 88, 2015, 'BEST PICTURE', False),
 ('Mad Max: Fury Road', '$154,109,060', Decimal('8.1'), 90, 2015, 'BEST PICTURE', False),
 ('The Martian', '$228,433,663', Decimal('8.0'), 80, 2015, 'BEST PICTURE', False),
 ('The Revenant', '$183,637,894', Decimal('8.0'), 76, 2015, 'BEST PICTURE', False),
 ('Room', '$14,677,654', Decimal('8.1'), 86, 2015, 'BEST PICTURE', False),
 ('Spotlight', '$45,055,776', Decimal('8.1'), 93, 2015, 'BEST PICTURE', True),
 ('Arrival', '$100,546,139', Decimal('7.9'), 81, 2016, 'BEST PICTURE', False),
 ('Fences', '$57,682,904', Decimal('7.2'), 79, 2016, 'BEST PICTURE', False),
 ('Hacksaw Ridge', '$67,209,615', Decimal('8.1'), 71, 2016, 'BEST PICTURE', False),
 ('Hell or High Water', '$27,007,844', Decimal('7.6'), 88, 2016, 'BEST PICTURE', False),
 ('Hidden Figures', '$169,607,287', Decimal('7.8'), 74, 2016, 'BEST PICTURE', False),
 ('La La Land', '$151,101,803', Decimal('8.0'), 94, 2016, 'BEST PICTURE', False),
 ('Lion', '$51,738,905', Decimal('8.0'), 69, 2016, 'BEST PICTURE', False),
 ('Manchester by the Sea', '$47,695,371', Decimal('7.8'), 96, 2016, 'BEST PICTURE', False),
 ('Moonlight', '$27,854,932', Decimal('7.4'), 99, 2016, 'BEST PICTURE', True),
 ('Call Me by Your Name', '$18,095,701', Decimal('7.9'), 93, 2017, 'BEST PICTURE', False),
 ('Darkest Hour', '$56,468,410', Decimal('7.4'), 75, 2017, 'BEST PICTURE', False),
 ('Dunkirk', '$189,740,665', Decimal('7.8'), 94, 2017, 'BEST PICTURE', False),
 ('Get Out', '$176,196,665', Decimal('7.7'), 85, 2017, 'BEST PICTURE', False),
 ('Lady Bird', '$48,958,273', Decimal('7.4'), 93, 2017, 'BEST PICTURE', False),
 ('Phantom Thread', '$21,198,205', Decimal('7.5'), 90, 2017, 'BEST PICTURE', False),
 ('The Post', '$81,903,458', Decimal('7.2'), 83, 2017, 'BEST PICTURE', False),
 ('The Shape of Water', '$63,859,435', Decimal('7.3'), 87, 2017, 'BEST PICTURE', True),
 ('Black Panther', '$700,426,566', Decimal('7.3'), 88, 2018, 'BEST PICTURE', False),
 ('BlacKkKlansman', '$49,275,340', Decimal('7.5'), 83, 2018, 'BEST PICTURE', False),
 ('Bohemian Rhapsody', '$216,668,042', Decimal('8.0'), 49, 2018, 'BEST PICTURE', False),
 ('The Favourite', '$34,366,783', Decimal('7.5'), 91, 2018, 'BEST PICTURE', False),
 ('Green Book', '$85,080,171', Decimal('8.2'), 69, 2018, 'BEST PICTURE', True),
 ('Roma', 'N/A', Decimal('7.7'), 96, 2018, 'BEST PICTURE', False),
 ('A Star Is Born', '$215,333,122', Decimal('7.6'), 88, 2018, 'BEST PICTURE', False),
 ('Vice', '$47,836,282', Decimal('7.2'), 61, 2018, 'BEST PICTURE', False),
 ('Ford v Ferrari', '$117,624,357', Decimal('8.1'), 81, 2019, 'BEST PICTURE', False),
 ('The Irishman', 'N/A', Decimal('7.8'), 94, 2019, 'BEST PICTURE', False),
 ('Jojo Rabbit', '$33,370,906', Decimal('7.9'), 58, 2019, 'BEST PICTURE', False),
 ('Joker', '$335,477,657', Decimal('8.4'), 59, 2019, 'BEST PICTURE', False),
 ('Little Women', '$108,101,214', Decimal('7.8'), 91, 2019, 'BEST PICTURE', False),
 ('Marriage Story', 'N/A', Decimal('7.9'), 94, 2019, 'BEST PICTURE', False),
 ('1917', '$159,227,644', Decimal('8.3'), 78, 2019, 'BEST PICTURE', False),
 ('Parasite', '$53,369,749', Decimal('8.5'), 96, 2019, 'BEST PICTURE', True)]

In [18]:
finale = pd.DataFrame(dp)
finale

,0,1,2,3,4,5,6
0,A Beautiful Mind,"$170,742,341",8.2,72,2001,BEST PICTURE,True
1,Gosford Park,"$41,308,615",7.2,90,2001,BEST PICTURE,False
2,In the Bedroom,"$35,930,604",7.4,86,2001,BEST PICTURE,False
3,The Lord of the Rings: The Fellowship of the Ring,"$316,115,420",8.8,92,2001,BEST PICTURE,False
4,Chicago,"$170,687,518",7.2,81,2002,BEST PICTURE,True
...,...,...,...,...,...,...,...
129,Joker,"$335,477,657",8.4,59,2019,BEST PICTURE,False
130,Little Women,"$108,101,214",7.8,91,2019,BEST PICTURE,False
131,Marriage Story,N/A,7.9,94,2019,BEST PICTURE,False
132,1917,"$159,227,644",8.3,78,2019,BEST PICTURE,False
133,Parasite,"$53,369,749",8.5,96,2019,BEST PICTURE,True

In [19]:
final = finale.rename(columns={0: "film", 1: "box office", 2: "imdb rating", 3: "metascore", 4: "year_film", 5: "category", 6: "winner"})
final

,film,box office,imdb rating,metascore,year_film,category,winner
0,A Beautiful Mind,"$170,742,341",8.2,72,2001,BEST PICTURE,True
1,Gosford Park,"$41,308,615",7.2,90,2001,BEST PICTURE,False
2,In the Bedroom,"$35,930,604",7.4,86,2001,BEST PICTURE,False
3,The Lord of the Rings: The Fellowship of the Ring,"$316,115,420",8.8,92,2001,BEST PICTURE,False
4,Chicago,"$170,687,518",7.2,81,2002,BEST PICTURE,True
...,...,...,...,...,...,...,...
129,Joker,"$335,477,657",8.4,59,2019,BEST PICTURE,False
130,Little Women,"$108,101,214",7.8,91,2019,BEST PICTURE,False
131,Marriage Story,N/A,7.9,94,2019,BEST PICTURE,False
132,1917,"$159,227,644",8.3,78,2019,BEST PICTURE,False
133,Parasite,"$53,369,749",8.5,96,2019,BEST PICTURE,True