In [1]:
import pandas as pd
from pprint import pprint

In [2]:
oscar_df = pd.read_csv("data/the_oscar_award.csv")
oscar_df

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10390,2019,2020,92,WRITING (Original Screenplay),"Screenplay by Bong Joon Ho, Han Jin Won; Story...",Parasite,True
10391,2019,2020,92,JEAN HERSHOLT HUMANITARIAN AWARD,Geena Davis,NaN,True
10392,2019,2020,92,HONORARY AWARD,David Lynch,NaN,True
10393,2019,2020,92,HONORARY AWARD,Wes Studi,NaN,True
10394,2019,2020,92,HONORARY AWARD,Lina Wertmüller,NaN,True

In [3]:
oscar_df.filter(items= ['year_film', 'category', 'film', 'winner']).dropna()

,year_film,category,film,winner
0,1927,ACTOR,The Noose,False
1,1927,ACTOR,The Last Command,True
2,1927,ACTRESS,A Ship Comes In,False
3,1927,ACTRESS,7th Heaven,True
4,1927,ACTRESS,Sadie Thompson,False
...,...,...,...,...
10386,2019,WRITING (Original Screenplay),Knives Out,False
10387,2019,WRITING (Original Screenplay),Marriage Story,False
10388,2019,WRITING (Original Screenplay),1917,False
10389,2019,WRITING (Original Screenplay),Once upon a Time...in Hollywood,False
10390,2019,WRITING (Original Screenplay),Parasite,True

In [10]:
oscar_df_year_filter = oscar_df.filter(items= ['year_film', 'category', 'film', 'winner']).dropna()
oscar_df_year_filter.loc[(oscar_df_year_filter['category'] == "BEST PICTURE") &  (oscar_df_year_filter['year_film'] > 2000)]

,year_film,category,film,winner
8190,2001,BEST PICTURE,A Beautiful Mind,True
8191,2001,BEST PICTURE,Gosford Park,False
8192,2001,BEST PICTURE,In the Bedroom,False
8193,2001,BEST PICTURE,The Lord of the Rings: The Fellowship of the Ring,False
8194,2001,BEST PICTURE,Moulin Rouge,False
...,...,...,...,...
10346,2019,BEST PICTURE,Little Women,False
10347,2019,BEST PICTURE,Marriage Story,False
10348,2019,BEST PICTURE,1917,False
10349,2019,BEST PICTURE,Once upon a Time...in Hollywood,False
10350,2019,BEST PICTURE,Parasite,True